* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Google Sans', sans-serif;
    color: #FFFFFF;
    background-color: #060F19;
}

.navbar {
    width: 100%;
    height: 90px;
    padding: 0 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #060F19;
    position: relative;
    z-index: 1000;
    border-bottom: 3px solid #F28C28;
}

.brand {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-box {
    width: 90px;
    height: 80px;
    background-color: rgba(192, 185, 185, 0.446);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 75px;
    height: 75px;
    object-fit: contain;
}

.brand-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Google Sans Code', sans-serif;
}

.brand-name span {
    color: white;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
}

.brand-name small {
    color: rgb(242, 179, 63);
    font-size: 9px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 3px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 26px;
    list-style: none;
}

.nav-links a {
    color: #F28C28;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #F28C28;
}

.contact-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 40px;
    border: 2px solid rgb(242, 179, 63);
    border-radius: 5px;
    background-color: rgba(250, 235, 215, 0.186);
    color: rgb(242, 179, 63) !important;
    font-weight: bold;
    font-size: 0.8rem !important;
    transition: all 0.3s ease-in-out;
}

.contact-link:hover {
    .contact-link:hover {
        background-color: rgb(242, 179, 63);
        color: white !important;
    }
}

#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
}

.hero {
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    padding: 60px 5%;
    position: relative;

    background:
        linear-gradient(to right,
            rgba(6, 15, 25, 0.85) 0%,
            rgba(6, 15, 25, 0.45) 35%,
            rgba(6, 15, 25, 0.10) 70%,
            rgba(6, 15, 25, 0) 100%),
        linear-gradient(to bottom,
            rgba(6, 15, 25, 0) 60%,
            #060F19 100%),
        url("images/hero-bg.jpg");

    background-size: cover;
    background-position: center center;
}

.hero-content {
    max-width: 650px;
    position: relative;
    z-index: 2;
}

.hero-subtitle {
    color: rgb(242, 179, 63);
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-bottom: 18px;
}

.hero h1 {
    font-size: 44px;
    line-height: 1.1;
    margin-bottom: 20px;
}


.hero-text {
    max-width: 520px;
    color: #E9EEF2;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.hero-buttons {
    display: flex;
    gap: 14px;
    align-items: center;
}

.hero-button {
    display: inline-block;
    padding: 14px 28px;
    background-color: rgb(242, 179, 63);
    color: #060F19;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    transition: 0.3s;
}

.hero-button:hover {
    background-color: #155A8A;
    color: #FFFFFF;
}

.browse-button {
    background-color: transparent;
    border: 2px solid rgb(242, 179, 63);
    color: #FFFFFF;
}

.browse-button:hover {
    background-color: rgb(242, 179, 63);
    color: #060F19;
}




@media (max-width: 900px) {

    .brand {
        gap: 0.7rem;
    }

    .logo-box {
        width: 70px;
        height: 65px;
    }

    .logo-box img {
        width: 60px;
        height: 60px;
    }

    .brand-text h1 {
        font-size: 1.5rem;
        white-space: nowrap;
    }

    .brand-text p {
        font-size: 0.65rem;
        letter-spacing: 0.12rem;
        white-space: nowrap;
    }

    #navbar {
        padding: 1rem 1.5rem;
        gap: 1rem;
    }

    #navbar ul {
        gap: 1.5rem;
    }

    #navbar ul li a {
        font-size: 0.85rem;
        white-space: nowrap;
    }

    #Contact {
        width: 110px;
        height: 38px;
        font-size: 0.8rem;
    }


}

@media (max-width: 800px) {

    #navbar {
        flex-direction: column;
        align-items: center;
    }

    #navbar ul {
        width: 100%;
        margin-left: 0;
        margin-top: 1rem;
        justify-content: space-between;
        gap: 0.8rem;
    }

}

@media (max-width: 600px) {

    .navbar {
        height: 70px;
        padding: 0 5%;
    }

    .logo img {
        width: 45px;
        height: 45px;
    }

    .brand {
        gap: 8px;
    }

    .brand-name span {
        font-size: 17px;
    }

    .brand-name small {
        font-size: 7px;
        letter-spacing: 0.5px;
        margin-top: 4px;
    }

    .menu-icon {
        position: relative;
        display: block;
        margin-left: auto;
        font-size: 30px;
        cursor: pointer;
        color: rgb(242, 179, 63);
        z-index: 1300;
    }

    .nav-links {
        position: fixed;
        top: 0;
        right: -250px;
        width: 230px;
        height: 100vh;
        margin: 0;
        padding: 100px 20px 30px;
        background-color: rgb(5, 5, 21);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 25px;
        transition: right 0.35s ease;
        z-index: 1200;
        box-sizing: border-box;

    }

    .nav-links li {
        width: 100%;
        text-align: center;
    }

    .nav-links a {
        display: block;
        width: 100%;
        color: rgb(255, 218, 150);
        font-size: 1.1rem;
        text-align: center;


    }

    .nav-links .contact-link {
        width: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    #menu-toggle:checked~.nav-links {
        right: 0;
    }

    .hero {
        min-height: calc(100vh - 70px);
        padding: 50px 6%;
        text-align: left;
    }

    .hero-subtitle {
        font-size: 9px;
        letter-spacing: 1.0px;
    }

    .hero h1 {
        font-size: 32px;
    }

    .hero-text {
        font-size: 14px;
        line-height: 1.6;
    }

    .hero-button {
        padding: 11px 18px;
        font-size: 14px;
    }

    .hero-buttons {
        gap: 10px;
        flex-wrap: wrap;    
    }
}